@import "params";

@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin SansNarrow {
  font-family: 'PT Sans Narrow', sans-serif;
}

@mixin Sans {
  font-family: 'PT Sans', sans-serif;
}

@mixin Roboto__Condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin Roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin card {
  background-color: $backgroung__card;
  border-radius: 10px;
}

@mixin title {
  text-transform: uppercase;
  font-size: 46px;
  line-height: 52px;
}